body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

/***** START LOGIN *******/
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle{
  text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
  font-size: 250%;
}

.social-login-btn {
  margin: 5px;
  width: 7%;
  font-size: 250%;
  padding: 0;
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-width : 768px){
  .social-login-btn { width: 20%; }
}

@media only screen and (min-width : 1224px) {
  .social-login-btn {
    margin: 5px;
    width: 7%;
    font-size: 250%;
    padding: 0;
  }
}
/*@media (min-width: 768px) {*/
/*.social-login-btn {*/
  /*width: 15%;*/
/*}*/

.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.omb_login .omb_socialButtons .omb_btn-facebook:hover{
  background-color: #47618d;
  border-color: #3c5173;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.omb_login .omb_socialButtons .omb_btn-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.omb_login .omb_socialButtons .omb_btn-google {
  background: #da573b;
  border-color: #be5238;
}
.omb_login .omb_socialButtons .omb_btn-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}
.omb_login .omb_socialButtons .omb_btn-linkedin{
  background-color: #4875B4;
  border-color: #466b99;
}

.omb_login .omb_socialButtons .omb_btn-linkedin:hover{
  background-color: #466b99;
  border-color: #3b5a7c;
}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}

@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }   
}
/**** END LOGIN *****/
